@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Theme Colors */
    --color-primary: 251, 249, 253;
    --color-secondary: 167, 162, 176;
    --color-accent: 61, 57, 69;
    --color-highlight: 22, 20, 24;
    --color-background: 40, 37, 44;

    /* System Colors */
    --background: var(--color-background);
    --foreground: var(--color-primary);
    --card: 49, 46, 54;
    --card-foreground: var(--color-primary);
    --popover: 49, 46, 54;
    --popover-foreground: var(--color-primary);
    --primary: var(--color-primary);
    --primary-foreground: var(--color-background);
    --secondary: var(--color-secondary);
    --secondary-foreground: var(--color-primary);
    --muted: 61, 57, 69;
    --muted-foreground: var(--color-secondary);
    --accent: var(--color-accent);
    --accent-foreground: var(--color-primary);
    --destructive: 239, 68, 68;
    --destructive-foreground: var(--color-primary);
    --border: var(--color-accent);
    --input: var(--color-accent);
    --ring: var(--color-accent);
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#161418] text-foreground;
  }
}

/* SimpleBar Custom Styles */
.simplebar-scrollbar::before {
  @apply bg-theme-primary/40;
}

.simplebar-track.simplebar-vertical {
  @apply w-2;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar {
  @apply w-1.5;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  @apply w-1.5 rounded-full;
}

/* Custom scrollbar styles for browsers that support it */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-theme-primary/40 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-theme-primary/60;
}
@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  textarea:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px rgb(var(--background)) inset !important;
    -webkit-text-fill-color: rgb(var(--color-primary)) !important;
    transition: background-color 5000s ease-in-out 0s;
    outline: none !important;
    border: none !important;
  }
}

input:is(:-webkit-autofill, :autofill) {
  border-color: inherit;
  border-style: inherit;
  border-width: inherit;
}


@media (min-width: 1024px) {
  .lg\:px-15 {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
.col-span-4{
  grid-column: span 4 / span 4;
}
.col-span-5{
  grid-column: span 5 / span 5;
}
.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}
.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr));
}
.simplebar-hide-scrollbar .simplebar-placeholder{

  display: none;
}